@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    font-family: 'Lexend Deca' ;

}.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}@media only screen and (max-width: 441px) {
   .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    }
  }
  .nav .logo{
    display: flex;
    align-items: center;
}.logo h2{
    margin-left: 0.5rem;
}.nav button{
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: black;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    
}.nav button:hover{
    transform: translateY(-2px);
}.login-box{
    box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
padding: 4rem ;
width: 18rem;
margin-top: 7rem;
text-align: left;
border-radius: 2rem;
}
@media only screen and (max-width: 441px) {
    .login-box{
        box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
        padding: 2.5rem ;
      
    }
  }.login-box p{
    color: #9b9898;
    margin: 0;
}.login-box button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: black;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    margin-top: 0.7rem;
}.post-write{
    box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
    padding: 4rem ;
    width: 18rem;
    margin-top: 7rem;
    border-radius: 2rem;
}.post-write input{
    
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
   
    
}.post-write input :focus{
    border: 3px solid #5551ff;
}.post-write button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: black;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 125px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    margin-top: 0.4rem;
}@media only screen and (max-width: 441px) {
    .post-write{
        box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
        padding: 2.5rem ;
      
    }}

h4,p{
    margin: 0;
}.show-post{
    box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
    padding: 4rem ;
    width: 18rem;
    margin-top: 3rem;
    border-radius: 2rem;
    text-align: left;
}@media only screen and (max-width: 441px) {
    .show-post{
        box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
        padding: 2.3rem ;
        width: 16rem;
    }}

h4{
    font-size: 1.3rem;
}.logout button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: black;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 124px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    margin-top: 2rem;
}p{
    margin-top: 1rem;
}